[submodule "openlilylib/oll-core"]
	path = openlilylib/oll-core
	url = https://github.com/openlilylib/oll-core.git
[submodule "openlilylib/edition-engraver"]
	path = openlilylib/edition-engraver
	url = https://github.com/openlilylib/edition-engraver.git
